---
const {class: className = '', ...props} = Astro.props;
---

<a
	class={`text-white
    border border-white/10 rounded-xl
    flex justify-center items-center gap-x-2
    py-2 px-3
    transition-all duration-200 ease-out
    hover:scale-105
    focus:outline-none
    focus-visible:ring-2
    focus-visible:ring-offset-2
    focus-visible:ring-offset-[#111827]
    ${className}
  `}
	target="_blank"
	rel="noopener noreferrer"
	role="link"
	{...props}>
	<slot />
</a>
