<article class="flex flex-col space-y-4 max-w-2xl">
	<div class="mt-2">
		<p class="text-gray-200 opacity-80">
			Soy Salem José Martínez Herrera, Ingeniero de Sistemas y Desarrollador Web
			especializado en PHP y Laravel. He desarrollado aplicaciones web
			escalables y eficientes para automatización de procesos empresariales,
			incluyendo un proyecto real para gestionar incapacidades laborales en
			empresas. Trabajo con JavaScript, Tailwind y MySQL, aplicando buenas
			prácticas de desarrollo de software para crear soluciones funcionales y
			mantenibles.
		</p>
	</div>
</article>
