<article class="flex flex-col space-y-4 max-w-2xl">
	<div class="mt-2">
		<p class="text-gray-200 opacity-80">
			Soy Salem José Martínez Herrera, Ingeniero de Sistemas. Me enfoco en
			construir aplicaciones web escalables, funcionales y mantenibles que
			resuelven problemas reales, como por ejemplo, la plataforma web que
			desarrollé para gestionar incapacidades laborales en pequeñas y medianas
			empresas. Aplico buenas prácticas de desarrollo de software para entregar
			soluciones que no solo funcionen, sino que crezcan junto con el negocio.
		</p>
	</div>
</article>
