---
import Home from '../assets/icons/Home.astro';

const navItems = [
	{
		title: 'Inicio',
		label: 'inicio',
		url: '#inicio',
	},
	{
		title: 'Proyectos',
		label: 'proyectos',
		url: '#proyectos',
	},
	{
		title: 'Sobre mí',
		label: 'sobre-mi',
		url: '#sobre-mi',
	},
	{
		title: 'Stack',
		label: 'stack-tecnologico',
		url: '#stack-tecnologico',
	},
];
---

<header class="fixed top-4 z-10 w-full flex justify-center">
	<nav
		class="backdrop-blur-xl backdrop-saturate-150
         bg-linear-to-r from-gray-800/60 to-gray-700/50
         border border-white/20
         shadow-lg shadow-black/30
         ring-1 ring-white/10
           rounded-3xl px-4 sm:px-6 py-2 w-full max-w-xs sm:max-w-md
           text-gray-200 text-sm font-medium flex justify-center items-center">
		{
			navItems.map((link) => (
				<a
					class="flex items-center justify-center px-3 sm:px-4 py-2 rounded-lg
            whitespace-nowrap
            transition-all duration-200 ease-out
            hover:bg-blue-500/15
            hover:shadow-md hover:shadow-blue-500/20 
			active:bg-blue-500/25 
			focus:outline-none
            focus-visible:ring-2
            focus-visible:ring-blue-400/50
            focus-visible:ring-offset-2
            focus-visible:ring-offset-[#111827]"
					aria-label={link.label}
					href={link.url}>
					{link.label === 'inicio' ? <Home class="size-5" /> : link.title}
				</a>
			))
		}
	</nav>
</header>
