---
import Logo from '../assets/logo/Logo.astro';
import EmailIcon from '../assets/icons/Email.astro';
import GitHubIcon from '../assets/icons/GitHub.astro';
import SocialPill from '../assets/icons/SocialPill.astro';

const profile = 'Salem Martínez | Ingeniero de Sistemas y Desarrollador Web';
---

<div class="flex flex-col gap-6">
	<div class="flex flex-col gap-4">
		<Logo class="size-40" aria-label={profile} role="img" />

		<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold">
			Salem Martínez
		</h1>
	</div>

	<h2 class="text-gray-200 text-xl lg:text-2xl text-wrap max-w-175 opacity-80">
		Desarrollo aplicaciones web que automatizan procesos en pequeñas y medianas
		empresas.
	</h2>

	<nav class="flex gap-4 flex-wrap">
		<SocialPill
			href="mailto:smartinezhe1@gmail.com"
			class="bg-blue-500 border border-blue-600 hover:bg-blue-600 text-white shadow-sm shadow-black/30 focus-visible:ring-blue-500/50 min-w-35 justify-center">
			<EmailIcon class="size-5" /> Contáctame
		</SocialPill>

		<SocialPill
			href="https://github.com/smartinezhe"
			class="bg-slate-500 border border-slate-600 hover:bg-slate-600 text-white shadow-sm shadow-black/30 focus-visible:ring-slate-500/50 min-w-35 justify-center">
			<GitHubIcon class="size-5" /> GitHub
		</SocialPill>
	</nav>
</div>
