---
const {href, class: className = ''} = Astro.props;
---

<a
	href={href}
	target="_blank"
	rel="noopener noreferrer"
	class={`
		inline-flex items-center justify-center gap-2
		max-w-fit rounded-xl
		bg-indigo-400 border border-indigo-500 hover:bg-indigo-500
		px-3 py-2
		text-black font-semibold
		transition-colors duration-200 ease-out
		shadow-sm shadow-black/30
		focus:outline-none
        focus-visible:ring-2
        focus-visible:ring-offset-2
      focus-visible:ring-offset-[#111827]
		focus-visible:ring-indigo-500/50
		${className}
	`}>
	<slot />
</a>
