---
const {icon: Icon, name, color} = Astro.props;
---

<div
	class="flex flex-col items-center justify-center gap-3
  w-full max-w-42.5 aspect-17/14 rounded-2xl
  bg-white/2 border border-white/10
  transition-transform duration-200 ease-out
  hover:scale-[1.03]
  active:scale-[0.98]
  will-change-transform">
	<Icon style={`color: ${color}`} class="size-16 sm:size-20" />

	<span class="text-xs text-gray-300 opacity-80">
		{name}
	</span>
</div>
